@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background: black;
}

.wrapper {
    max-width: 1280px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    font-family: 'SBAggroB';
}

.write-container {
    margin-top: 350px;
    flex-direction: column;
    justify-content: center;
}

.write-container h2, .movie {
    color: #DE2A60;
}

.title {
    /*border-bottom : 1px solid gainsboro;*/
    padding: 20px 0;
}

#title-input {  /* 제목 입력란 */
    width: 1000px;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid white;
    background: black;
    color: white;
    font-size: 30px;
    font-family: 'SBAggroB';
}

.movie {
    padding-top: 30px;
}

.score fieldset {
    display: flex;
    flex-direction: row;
}

#content-input {    /* 본문 입력란 */
    font-size: 25px;
    font-family: 'SBAggroB';
}

/*----- 별점주기 -----*/

#score fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    direction: rtl; /* 이모지 순서 반전 */
    border: 0; /* 필드셋 테두리 제거 */
}
#score fieldset legend{
    text-align: left;
}
#score input[type=radio]{
    display: none; /* 라디오박스 감춤 */
}
#score label{
    font-size: 1.5em; /* 이모지 크기 */
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
}
#score label:hover{
    text-shadow: 0 0 0 #ffcf20; /* 마우스 호버 */
}
#score label:hover ~ label{
    text-shadow: 0 0 0 #ffcf20; /* 마우스 호버 뒤에오는 이모지들 */
}
#score input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 #ffcf20; /* 마우스 클릭 체크 */
}