<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
</head>
<th:block layout:fragment="script">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:inline="javascript">

    </script>

</th:block>
<th:block layout:fragment="css">
</th:block>

<div layout:fragment="content">

    <div class="wrapper">
        <div class="container">
            <strong class="poster-title"> 4월 개봉영화 </strong>
            <div class="poster-container">
                <ul class="poster">
                    <li><img class="poster-img" src="/img/1.jpg"></li>
                    <li>리바운드</li>
                </ul>
                <ul class="poster">
                    <li><img class="poster-img" src="/img/2.jpg"></li>
                    <li>패왕별희</li>
                </ul>
                <ul class="poster">
                    <li><img class="poster-img" src="/img/3.jpg"></li>
                    <li>마리아 칼라스: 세기의 디바</li>
                </ul>
                <ul class="poster">
                    <li><img class="poster-img" src="/img/4.jpg"></li>
                    <li>에어</li>
                </ul>
            </div>
        </div>

        <div class="board-wrap">
            <div class="board-title">
                <strong>리뷰 게시판</strong>
                <p>영화에 대한 감상을 자유롭게 남겨보세요.</p>
                <form>
                    <button name="type" value="view">조회순</button>
                    <button name="type" value="like">좋아요순</button>
                    <button name="type" value="date">최신순</button>
                </form>
                <form action="/search" method="GET" role="search">
                    <select name="searchType" id="searchType">
                        <option name="title" value="title">제목</option>
                        <option name="userId" value="userId">글쓴이</option>
                        <option name="movieTitle" value="movieTitle">영화제목</option>
                    </select>

                    <input type="text" name="keyword" class="search-text" id="search" placeholder="검색">
                    <button>검색</button>
                </form>

                <form action="/hashtag" method="GET">
                    <input type="text" name="hashtag" class="search-text" id="hashtag" placeholder="해시태그">
                    <button>검색</button>
                </form>
            </div>
            <div class="board-list-wrap">
                <div class="board-list">
                    <div class="top">
                        <div class="num">NO.</div>
                        <div class="title">
                            <p>TITLE</p>
                        </div>
                        <div class="writer">WRITER</div>
                        <div class="date">DATE</div>
                        <div class="count">VIEW</div>
                    </div>

                    <div th:each="boardDto, status: ${boardList.getContent()}" >
                        <div class="num" th:text="${boardDto.boardIndex}"></div>

                        <div class="title">
                            <a th:text="${boardDto.movie != null} ? ${'['+boardDto.movie.movieTitle+']'} : '[No Movie]'"></a>
                            <a th:href="'/board/'+${boardDto.boardIndex}" th:text="${boardDto.boardTitle}"></a>
                        </div>
                        <div class="writer" th:text="${boardDto.user != null} ? ${boardDto.user.userNickname} : 'No User'"></div>
                        <div class="date" th:text="${boardDto.boardDate}"></div>
                        <div class="count" th:text="${boardDto.viewNum}"></div>

                    </div>
                </div>
                <div class="board-page">
                    <a th:href="@{/(page=${0}, type=${param.type})}" class="bt first"><<</a>
                    <a th:href="@{/(page=${startPage-2}, type=${param.type})}" class="bt prev"><</a>
                    <th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
                        <a th:if="${page != nowPage}" th:href="@{/(page=${page-1}, type=${param.type})}" th:text ="${page}" class="num"></a>
                        <a th:if="${page==nowPage}" th:text ="${page}" class="num on"></a>
                    </th:block>
                    <a th:if="${endPage < totalPages}" th:href="@{/(page=${endPage}, type=${param.type})}" class="bt next">></a>
                    <a th:href="@{/(page=${totalPages-1}, type=${param.type})}" class="bt last">>></a>
                </div>
                <div class="bt-wrap" id="main-button">
                    <form action="/board/write" method="GET">
                        <button class="btn" type="submit">
                            리뷰작성
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
    block : 블록 역할
    page:numbers.sequence : startPage부터 endPage까지의 숫자 시퀀스 생성. 각각의 숫자를 page 변수에 할당
    위의 숫자를 반복문을 통해 출력
    a : 링크 생성
    th:if ~ : page 변수와 nowPage 변수가 같지 않을 때 링크 생성.
 -->


</body>
</html>