<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>글번호</th>
    <th>제목</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="boardDto, status: ${searchList}">
    <td th:text="${status.index +1}"></td>
    <td th:text="${boardDto.boardTitle}"></td>
    <td th:text="${boardDto.boardTitle}"></td>
    <td th:text="${boardDto.boardTitle}"></td>
    <td th:text="${boardDto.boardTitle}"></td>
    <td th:text="${boardDto.boardTitle}"></td>
  </tr>
  </tbody>

</table>
</body>
</html>