<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="board-css.css">
</head>
<body>
<div class="board-wrap">
    <div class="board-title">
        <strong>리뷰 게시판</strong>
        <p>영화에 대한 감상을 자유롭게 남겨보세요.</p>
    </div>
    <div class="board-list-wrap">
        <div class="board-list">

        </div>
        <div class="board-page">

        </div>
        <div class="bt-wrap">
            <a href="#" class="on">목록</a>
            <a href="#" >수정</a>
        </div>
    </div>
</div>
</body>
</html>