<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
        $(function() {
            $("form").on("submit", function() {
                const searchType = $("#searchType").val();
                const input = $("input[name='keyword']");
                const originalName = input.attr("name");

                input.attr("name", searchType);

                // 다음 이벤트에서 원래대로 되돌려놓기 위해 setTimeout을 사용합니다.
                setTimeout(function() {
                    input.attr("name", originalName);
                }, 0);
            });
        });
</script>

<body>
    <h1>메인 게시글 페이지 ~</h1>
    <div>
        <div>

            <form action="/search" method="GET" role="search">
                <select id="searchType" onchange="search(this.value)">
                    <option value="title">제목</option>
                    <option value="user_id">글쓴이</option>
                </select>

                <input type="text" name="keyword" class="form-control" id="search" placeholder="검색">
                <button class="btn btn-success bi bi-search">검색</button>

            </form>

            <table>
                <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="boardDto, status: ${boardList}">
                        <td th:text="${boardDto.boardIndex}"></td>
                        <td th:text="${boardDto.boardTitle}"></td>
                        <td th:text="${boardDto.movie.movieTitle}"></td>
                        <td th:text="${boardDto.boardTitle}"></td>
                        <td th:text="${boardDto.boardTitle}"></td>
                        <td th:text="${boardDto.boardTitle}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <form action="/board/write" method="GET">
            <button type="submit">
                글쓰기
            </button>
        </form>
    </div>
    <a th:if="${startPage > 1}" th:href="@{/(page=${startPage - pageSize - 1})}" class="btn btn-default">이전</a>
    <th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
        <a th:if="${page != nowPage}" th:href="@{/(page=${page-1})}" th:text ="${page}"></a>
        <strong th:if="${page==nowPage}" th:text ="${page}" style="color:red"></strong>
    </th:block>
    <a th:if="${endPage < totalPages}" th:href="@{/(page=${endPage})}" class="btn btn-default">다음</a>

    <!--    <a th:href="@{/(page=${startPage-2})}" class="btn btn-default">이전</a>-->
<!--    <th:block th:each="page:${#numbers.sequence(startPage,endPage)}">-->
<!--        <a th:if="${page != nowPage}" th:href="@{/(page=${page-1})}" th:text ="${page}"></a>-->
<!--        <strong th:if="${page==nowPage}" th:text ="${page}" style="color:red"></strong>-->
<!--    </th:block>-->
<!--    <a th:if="${endPage < totalPages}" th:href="@{/(page=${endPage})}" class="btn btn-default">다음</a>-->
    <!--
        block : 블록 역할
        page:numbers.sequence : startPage부터 endPage까지의 숫자 시퀀스 생성. 각각의 숫자를 page 변수에 할당
        위의 숫자를 반복문을 통해 출력
        a : 링크 생성
        th:if ~ : page 변수와 nowPage 변수가 같지 않을 때 링크 생성.
     -->


</body>
</html>