<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>리뷰작성 페이지</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:href="@{/css/write.css}" rel="stylesheet">
    <script>
    function openMovieSearch() {

  var searchUrl = 'http://localhost:8080/board/movieSearch';
  var searchWindowFeatures = 'width=500,height=300,left=50%,top=50%,margin-left=-250px,margin-top=-150px';

  var searchWindow = window.open(searchUrl, '_blank', searchWindowFeatures);

  window.addEventListener('message', function(event) {
    if (event.source === searchWindow) {
      if (event.data.type === 'movieTitle') {
        var selectedMovieTitle = event.data.payload;
        document.getElementById('searchMovieTitle').value = selectedMovieTitle;
      }
    }
  });

    }
</script>
</head>
<body>
<div th:replace="fragments/header::header"></div>


<div class="wrapper">
    <div class="write-container">
        <form method="post" th:object="${boardFormDto}">
            <h2 class="m-a">리뷰작성</h2>

            <input type="hidden" th:field="*{boardIndex}">

            <div class="title m-a">
                <input id="title-input" name="boardTitle" type="text" placeholder="제목" th:value="*{boardTitle}">
            </div>
            <div id="search-area">
                <p>영화검색 </p>
                <div id="movie-search">
                    <input class="movie-search" readonly="true" name="movieTitle" id="searchMovieTitle" type="text"  th:field="*{movie}">

                </div>

                <div class="bt-wrap">
                    <button class="btn" type="button" onclick="openMovieSearch()">찾기</button>
                </div>

            </div>

            <!--        <form>-->
            <!--  별점주기  -->

            <div id="score">
                <fieldset>
                    <legend>점수주기</legend>
                    <input type="radio" name="rating" th:value=5 th:field="*{boardScore}" id="rate1"><label for="rate1">⭐</label>
                    <input type="radio" name="rating" th:value=4 th:field="*{boardScore}" id="rate2"><label for="rate2">⭐</label>
                    <input type="radio" name="rating" th:value=3 th:field="*{boardScore}" id="rate3"><label for="rate3">⭐</label>
                    <input type="radio" name="rating" th:value=2 th:field="*{boardScore}" id="rate4"><label for="rate4">⭐</label>
                    <input type="radio" name="rating" th:value=1 th:field="*{boardScore}" id="rate5"><label for="rate5">⭐</label>
                </fieldset>
            </div>

            <!--  본문작성  -->
            <div class="contents m-a">
                <p> <textarea id="content-input" cols="67" rows="10" name="boardContent" placeholder="본문 내용 입력하쇼" th:field="*{boardContent}"></textarea></p>

                <input name="hashtags" id="hashtags" type="text" th:value="*{hashtags}" placeholder="해시태그">

            </div>
            <div class="bt-wrap">
                <button class="btn" type="submit">등록하기</button>

                <input type="hidden" th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}">
                <input type="hidden" name="author" value="${authentication.name}">
            </div>


        </form>
    </div>
</div>
</body>
</html>
