<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<form action="/search" method="GET" role="search">
  <select name="searchType" id="searchType">
    <option name="title" value="title">제목</option>
    <option name="userId" value="userId">글쓴이</option>
    <option name="movieTitle" value="movieTitle">영화제목</option>
  </select>

  <input type="text" name="keyword" class="form-control" id="search" placeholder="검색">
  <button class="btn btn-success bi bi-search">검색</button>

</form>
<table>

  <thead>
  <tr>
    <th>글번호</th>
    <th>제목</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="boardDto, status: ${searchList}">
    <td th:text="${status.index +1}"></td>
    <td th:text="${boardDto.boardTitle}"></td>
    <td th:text="${boardDto.movie != null} ? ${boardDto.movie.movieTitle} : 'No Movie'"></td>
    <td th:text="${boardDto.boardTitle}"></td>
    <td th:text="${boardDto.boardTitle}"></td>
    <td th:text="${boardDto.boardTitle}"></td>
    <td th:text="${boardDto.boardTitle}"></td>
  </tr>
  </tbody>

</table>

<a th:href="@{|${#httpServletRequest.requestURI}?${#httpServletRequest.queryString}&searchType=${param.searchType}&keyword=${param.keyword}&page=${startPage-2}|}" class="btn btn-default">이전</a>
<th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
  <a th:if="${page != nowPage}" th:href="@{|${#httpServletRequest.requestURI}?${#httpServletRequest.queryString}&searchType=${param.searchType}&keyword=${param.keyword}&page=${page-1}|}" th:text ="${page}"></a>
  <strong th:if="${page==nowPage}" th:text ="${page}" style="color:red"></strong>
</th:block>
<a th:if="${endPage < totalPages}" th:href="@{|${#httpServletRequest.requestURI}?${#httpServletRequest.queryString}&searchType=${param.searchType}&keyword=${param.keyword}&page=${endPage}|}" class="btn btn-default">다음</a>

<!--    <a th:href="@{/search(page=${startPage-2})}" class="btn btn-default">이전</a>-->
<!--    <th:block th:each="page:${#numbers.sequence(startPage,endPage)}">-->
<!--      <a th:if="${page != nowPage}" th:href="@{/search(page=${page-1})}" th:text ="${page}"></a>-->
<!--      <strong th:if="${page==nowPage}" th:text ="${page}" style="color:red"></strong>-->
<!--    </th:block>-->
<!--    <a th:if="${endPage < totalPages}" th:href="@{/search(page=${endPage})}" class="btn btn-default">다음</a>-->

</body>
</html>