<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
  <meta charset="UTF-8">
  <title>메인 페이지</title>
</head>
<th:block layout:fragment="script">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</th:block>
<th:block layout:fragment="css">
</th:block>

<div layout:fragment="content">

  <div class="wrapper">

    <div class="container">

    </div>

    <div class="board-wrap">
      <div class="board-title">
        <strong>해시 태그</strong>
        <p th:text="'#' + ${param.hashtag}"></p>
        <form action="/search" method="GET" role="search" class="board-search">
          <select name="searchType" id="searchType">
            <option name="title" value="title">제목</option>
            <option name="content" value="content">내용</option>
            <option name="userId" value="userId">글쓴이</option>
            <option name="movieTitle" value="movieTitle">영화제목</option>
          </select>

          <input type="text" name="keyword" class="search-text" id="search" placeholder="리뷰 검색">
          <button class="board-search-btn">검색</button>
        </form>

        <form action="/hashtag" method="GET" class="board-search">
          <input type="text" name="hashtag" class="search-text" id="hashtag" placeholder="해시태그" style="width: 350px;">
          <button class="board-search-btn">검색</button>
        </form>

      </div>
      <div class="board-list-wrap">
        <div class="board-list">
          <div class="top">
            <div class="num">NO.</div>
            <div class="title">
              <p>TITLE</p>
            </div>
            <div class="writer">WRITER</div>
            <div class="date">DATE</div>
            <div class="count">VIEW</div>
          </div>

          <div th:each="boardDto, status: ${hashList}" >
            <div class="num" th:text="${boardDto.boardIndex}"></div>

            <div class="title">
              <a th:text="${boardDto.movie != null} ? ${'['+boardDto.movie.movieTitle+']'} : '[No Movie]'"></a>
              <a th:href="'/board/'+${boardDto.boardIndex}" th:text="${boardDto.boardTitle}"></a>
              <span th:text="'   ['+ ${boardDto.replyNum} +']'" style="color: #DE2A60;"></span>
            </div>
            <div class="writer" th:text="${boardDto.user != null} ? ${boardDto.user.userNickname} : 'No User'"></div>
            <div class="date" th:text="${#temporals.format(boardDto.boardDate, 'yyyy-MM-dd')}"></div>
            <div class="count" th:text="${boardDto.viewNum}"></div>

          </div>
        </div>

        <div class="board-page">
          <a th:href="@{/hashtag(page=${0}, hashtag=${param.hashtag})}" class="bt first"><<</a>
          <a th:href="@{/hashtag(page=${startPage-2}, hashtag=${param.hashtag})}" class="bt prev"><</a>
          <th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
            <a th:if="${page != nowPage}" th:href="@{/hashtag(page=${page-1}, hashtag=${param.hashtag})}" th:text ="${page}" class="num"></a>
            <a th:if="${page==nowPage}" th:text ="${page}" class="num on"></a>
          </th:block>
          <a th:href="@{/hashtag(page=${endPage-1}, hashtag=${param.hashtag})}" class="bt next">></a>
          <a th:href="@{/hashtag(page=${totalPages-1}, hashtag=${param.hashtag})}" class="bt last">>></a>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>