
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>영화 검색 페이지</title>
  <link th:href="@{/css/movieSearch.css}" rel="stylesheet">
  <script th:inline="javascript">
function selectMovie(title) {
  window.opener.postMessage({
    type: 'movieTitle',
    payload: title
  }, '*');

  window.close();
}
</script>
</head>

<body>

<form action="/board/movieSearch" method="post" role="search">
  <input type="text" name="keyword" class="form-control" id="search" placeholder="검색">
  <button class="btn btn-success bi bi-search">영화검색</button>
  <input type="hidden" th:name="${_csrf.parameterName}"
         th:value="${_csrf.token}">
</form>
<table>
  <thead>
  <tr>
    <th>글번호</th>
    <th>영화 제목</th>

  </tr>
  </thead>
  <tbody>
  <tr th:each="boardDto, status: ${movieList}">
    <td th:text="${status.Index+1}"></td>


    <td th:text="${boardDto.movieTitle}"></td>
    <td>
      <button type="button" th:onclick="selectMovie(this.getAttribute('data-title'))" th:data-title="${boardDto.movieTitle}">선택</button>
    </td>


  </tr>
  </tbody>
</table>
</body>
</html>