@import "main.css";

/*----- 해시태그 -----*/

.review-hashtag {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.hashtag-list {
    display:flex;
    margin-bottom:1rem;
}
.hashtag-list a {
    font-size: 18px;
    padding-bottom: 5px;
    margin-right:5px;
    text-decoration: none;
}



/*---------타이틀------------*/

.title-area {
  font-size: 40px;
}

.movie-name, .movie-info li{
  color: #DE2A60;
}

#title-info {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

#title-info li:after {
  content: "ㅣ";
}

.review-container {
  margin-top: 100px;
}

.movie-info {
  display: flex;
  flex-direction: row;
    margin: 10px 0px 10px 0px;
}

.movie-info ul {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  font-size: 2.5rem;
}

/* 리뷰본문 */
.poster-picture {
  width: 300px;
  height: 400px;
}

.contents {
  margin: auto 50px;
  padding: 50px 0 ;
  line-height: 40px;
  font-size: 2.3rem;
}

.like {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  font-size: 20px;
}

.like img {
  width: 50px;
  height: 50px;
}

/* 하트 버튼스타일 초기화 */
#like button  {
  background: inherit ; border:none; box-shadow:none; border-radius:0;
  padding:0; overflow:visible; cursor:pointer
}

#modify-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
}

#modify-btn button{
  margin-right: 10px;
}

/*-----------댓글--------------------*/
.reply-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  text-align:center;
}

.reply-container .btn {
  margin-left: 20px;
}

/* 댓글 입력*/

#reply-input-container{
    display: flex;
    flex-direction:column;
    margin:20px;
    padding:10px;
}

#reply-input-container form {
    display: flex;
    flex-direction:row;
    margin-top:15px;
}

#reply-input {
    width:800px;

    margin: 10px 0px 20px 0px;
    padding: 5px 15px 5px 15px;
    font-size: 18px;
    font-family: 'SBAggroB';
    color: white;

    border: 1px solid #DE2A60;
    border-radius: 10px;
    line-height: 45px;
}

#reply-input-container form .btn{
    margin: 20px;
    border-radius: 10px;
}

/*댓글 관리*/
#replyList{
    display: flex;
    flex-direction: column;
    margin:20px;
    padding:10px;
    align-items: baseline;
    border-bottom: 1px solid #DE2A60;
}

.user-list{
    display: flex;
    align-items:center;
    text-align:center;
}

.user-list img{
    width:30px;
}

#reply-user {
  display: flex;

  padding:10px;
  margin: 0 auto;
  align-items:center;

  font-size: 20px;
  font-family: 'SBAggroB';
  font-weight: bold;
  color: white;
  }

  #rereply-user {
  display: flex;

  padding:10px;
  margin: 0 auto;
  align-items:center;

  font-size: 20px;
  font-family: 'SBAggroB';
  font-weight: bold;
  color: white;
}

#content-list{
    display:flex;
    flex-direction:column;
}

#reply{
    display:flex;
    flex-direction:row;
}

#reply-content {

  width:800px;
  min-height: 70px;
  padding:15px;
  margin:10px;

  font-size: 16px;
  font-family: 'SBAggroB';
  color: white;
}

.row{
   display:flex;
   flex-direction:row;
}

#re-reply{
    margin-left:20px;
    display:flex;
    flex-direction:row;
}

#re-reply .contents{
  width:800px;
  min-height: 50px;

}

#replyList button {
    width:60px;
    border: none;
}


/*-------------------------------*/



/*-----------대댓글---------------*/

#reReplyWrap{
   display: flex;
    flex-direction:column;
}

#reReplyWrap{
    display:flex;
}

#reReplyWrap form{
    display:flex;

}

#reReplyWrap textarea {
    display:flex;
     width:800px;
     border: 1px solid #DE2A60;
     border-radius: 10px;
     padding: 15px;
     font-size:18px;
}

#reReplyWrap button{

  width: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  font-size: 1.5rem;
  color : white;
  background: #DE2A60;
}

.saveBtn{
    margin-top:10px;
}

/*-------------------------------*/



/*----- 별점주기 -----*/

#score .unchecked{
    font-size: 1.5em; /* 이모지 크기 */
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
}

#score .checked{
    font-size: 1.5em; /* 이모지 크기 */
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 #ffcf20;

/*----- 해시태그 호버기능 왜 안되노 시발 -----*/
.hashtag-list a:hover{
    color:#DE2A60;
}